# Ignore history files
.history/

# Ignore __pycache__ folders
__pycache__/

# Ignore test cache
.pytest_cache/

# Ignore VSCode config
.vscode/

# Ignore data
Data/

# Allow specific subfolder inside Data
!Data/Utilities/

# Ignore DS_Store
.DS_Store/